# Virtualenvs / envs
chatbot/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit/IDE/editor
/.streamlit/local*.*
/.streamlit/secrets.toml
.vscode/
.idea/

# Local app data / uploads / indexes
input_data/
data/faiss_index/
Documents/*
faiss_index/
objective/
*.sqlite3
*.db

# Logs, tests, builds
*.log
logs/*
dist/
build/
*.egg-info/

# Secrets
.env